<!-- Insertion de navBar -->
<%- include('global/navBar.ejs') %>
<section class="about p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="row my-4">
                        <h1 class="fw-bold text-start text-success">Bienvenue sur cette page pour tout savoir sur nous</h1>
                    </div>
                    <div class="row my-2 ">
                        <p class="text-start shadow rounded-3 p-2 w-75"><i class="fa fa-check-circle text-danger fs-3 me-2 "></i>Fondements</p>
                        <p class="text-start shadow rounded-3 p-2 w-75"><i class="fa fa-check-circle text-danger fs-3 me-2 "></i>Nos espaces</p>
                        <p class="text-start shadow rounded-3 p-2 w-75"><i class="fa fa-check-circle text-danger fs-3 me-2 "></i>Nos objectis</p>
                        <p class="text-start shadow rounded-3 p-2 w-75"><i class="fa fa-check-circle text-danger fs-3 me-2 "></i>Nos réalisations</p>
                    </div>
                    <div class="row my-4">
                        <div class="container">
                            <a class="btn btn-success rounded-5 p-2 w-25 fw-bold ">voir plus <i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="col-lg-6 banniere-about"></div>
        </div>
    </div>
</section>

    <!-- Section Conseils pour avoir une meilleure santé -->
    <section class="service my-5 p-5">
        <div class="container">
            <div class="row">
                <h2 class="text-center fw-bold">Découvrez toutes nos services</h2>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 bg-light shadow p-5 mx-2">
                    <div class="row my-2">
                        <button class="btn shadow rounded-3 w-100 border-1">
                            <p class="text-start fw-bold text-success"><i
                                    class="fa fa-hand-holding-heart fs-4 text-info text-start me-2 mt-2 "></i>Nous
                                sommes Medigo Healthcare</p>
                        </button>
                    </div>
                    <div class="row mt-5">
                        <h3 class="fs-1 fw-bold">Nous offrons des services de santé d’exception, à chaque étape de votre
                            parcours.</h3>
                    </div>
                    <div class="row my-5">
                        <p class="fs-5 ">
                            Bienvenue chez Ivory<span class="fw-bold text-success">Medic</span>, un centre médical privé
                            avec des établissements aux Bahamas et à Londres.
                            Notre mission est de fournir des services de santé de haute qualité et accessibles à nos
                            patients.
                        </p>
                    </div>
                    <div class="row">
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Horaires
                            d'ouverture étendus</p>
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Équipe
                            de soutien dédiée</p>
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Accès
                            rapide et rendez-vous le jour même</p>
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Accès
                            au soutien en santé mentale</p>
                    </div>
                    <div class="row">
                        <p>Retrouvez tous les plus grands hôpitaux publics et privés de la Cote d'ivoire, le Medigo
                            International Hospital prend soin de plus de 1,1 million de patients.</p>
                    </div>
                </div>
                <div class="col-lg-5 rounded-2 mx-1">
                    <div class="card shadow"
                        style="background-image: url(/images/autres/patient_4.webp);background-position: center;background-repeat: no-repeat;background-size: cover;object-fit: cover;height: 100%;width: 100%;border-top-left-radius: 80px;border-bottom-right-radius: 80px;">
                    </div>
                </div>
            </div>
        </div>
    </section>