<!-- Insertion de navBar -->
<%- include('global/navBar.ejs') %>

    <!-- section banniere -->
    <section class="banniere">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card border-top-sucess">
                        <div class="card-body ">
                            <div class="row container mx-auto p-3">
                                <h1 class="text-center fw-bold ">Bienvenue à Ivory<span
                                        class="text-success">Medic</span></h1>
                                <p class="text-center py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Eveniet animi praesentium architecto corrupti deleniti minus molestias, placeat quo
                                    in ex nobis dolore autem accusantium officia quam sequi veritatis numquam amet.</p>
                                <a href="/infos"
                                    class="btn-btn bg-success fw-bold text-center my-3 mx-auto text-light w-25 p-2 rounded-2 ">En
                                    savoir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section de quelque fonctionnalité de l'application -->
    <section class="fonctiaonnalite">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mobile-width my-2">
                    <div class="card animation-card p-2 shadow">
                        <span class="text-danger text-center fw-bold fs-3"><sup>Etape 1</sup></span>
                        <span class="text-center"><i class="fa fa-hospital fs-1" aria-hidden="true"></i></span>
                        <div class="card-body">
                            <h1 class="fs-5 fw-bold text-center">Recherchez un centre de centé</h1>
                            <p class="fs-6 text-center">Allez y dans la barre de recherche pour l'hopital que vous
                                souhaitez.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mobile-width my-2">
                    <div class="card animation-card p-2 shadow">
                        <span class="text-danger text-center fw-bold fs-3"><sup>Etape 2</sup></span>
                        <span class="text-center"><i class="fa fa-comments fs-1" aria-hidden="true"></i></span>
                        <div class="card-body">
                            <h1 class="fs-5 fw-bold text-center">Trouvez un agent de santé</h1>
                            <p class="fs-6 text-center">Après,vous pouvez choisir l'un des agent de santé de l'hopital
                                pour échanger.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mobile-width my-2">
                    <div class="card animation-card p-2 shadow">
                        <span class="text-danger text-center fw-bold fs-3"><sup>Etape 3</sup></span>
                        <span class="text-center"> <i class="fas fa-pills fs-1"></i></span>
                        <div class="card-body">
                            <h1 class="fs-5 fw-bold text-center">Consultez les medicaments</h1>
                            <p class="fs-6 text-center">Aussi,vous pourrez explorer la liste des médiaments pour choisir
                                ce que vous avez besoin.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mobile-width my-2">
                    <div class="card animation-card p-2 shadow">
                        <span class="text-danger text-center fw-bold fs-3"><sup>Etape 4</sup></span>
                        <span class="text-center"><i class="fas fa-shopping-cart fs-1"></i></span>
                        <div class="card-body">
                            <h1 class="fs-5 fw-bold text-center">Passez à la caisse</h1>
                            <p class="fs-6 text-center">Enfin,vous pouvez passez à la caisse pour acheter en ligne et
                                vous faire livrer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section barre de recherche -->
    <section class="barre-recherche my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <!-- Liste des villes -->
                        <span class="input-group-text p-3"><i class="fas fa-city"></i></span>
                        <select class="form-select" aria-label="Default select example">
                            <option>ville</option>
                            <option value="Abidjan">Abidjan</option>
                            <option value="Daloa">Daloa</option>
                            <option value="Man">Man</option>
                            <option value="Odienné">Odienné</option>
                            <option value="Bouaflé">Bouaflé</option>
                            <option value="Bouaké">Bouaké</option>
                            <option value="Toumodi">Toumodi</option>
                            <option value="Béoumi">Béoumi</option>
                            <option value="SanPédro">San Pédro</option>
                            <option value="Gagnoa">Gagnoa</option>
                            <option value="Taabo">Taabo</option>
                            <option value="Yamoussoukro">Yamoussoukro</option>
                            <option value="Zatta">Zatta</option>
                        </select>
                        <!-- Liste des hopitaux -->
                        <span class="input-group-text p-3"><i class="fas fa-hospital"></i></span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Centre de santé</option>
                            <option value="CDCMGMM">Cabinet Dentaire Centre Médical Gens de Mer de Marcory</option>
                            <option value="CSAAM">Centre de Santé ARMST Académie des Mers</option>
                            <option value="CSC">Centre de santé communautaire</option>
                            <option value="CSPNACP">Centre de Sante de la Police Nationale Abobo Cité Policière</option>
                            <option value="CSER">Centre de santé El Rapha</option>
                            <option value="CHUCMA">Centre Hospitalier Universitaire de Cité Mamie Adjoua</option>
                            <option value="CHUC">Centre Hospitalier Universitaire de Cocody</option>
                            <option value="CHUT">Centre Hospitalier Universitaire de Treichville</option>
                            <option value="CHUY">Centre Hospitalier Universitaire de Yopougon</option>
                            <option value="CHRSP">Centre hospitalier régional de San-Pédro</option>
                            <option value="CRP">Clinique LE ROCHER des II PLATEAUX</option>
                        </select>
                        <!-- Liste des pharmacies -->
                        <span class="input-group-text p-3"><i class="fas fa-clinic-medical"></i></span>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Pharmacie</option>
                            <option value="PRA">Pharmacie ROMA-Anoumabo</option>
                            <option value="PLT">Pharmacie du lycée technique</option>
                            <option value="PTR">Pharmacie toit rouge</option>
                            <option value="P220L">Pharmacie 220 Logements</option>
                            <option value="PP">Pharmacie du paris</option>
                            <option value="PA">Pharmacie Aboh</option>
                            <option value="PY">Pharmacie Yamoussoukro</option>
                            <option value="PE">Pharmacie Erginale</option>
                            <option value="PPDP">Pharmacie Polyclinique des deux plateaux</option>
                            <option value="PE">Pharmacie Emeraude</option>
                            <option value="PM">Pharmacie du MAll</option>
                        </select>
                        <button class="btn btn-success p-3">recherche</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Conseils pour avoir une meilleure santé -->
    <section class="service my-5 p-5">
        <div class="container">
            <div class="row">
                <h2 class="text-center fw-bold">Découvrez toutes nos services</h2>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6 bg-light shadow p-5 mx-2">
                    <div class="row my-2">
                        <button class="btn shadow rounded-3 w-100 border-1">
                            <p class="text-start fw-bold text-success"><i
                                    class="fa fa-hand-holding-heart fs-4 text-info text-start me-2 mt-2 "></i>Nous
                                sommes Medigo Healthcare</p>
                        </button>
                    </div>
                    <div class="row mt-5">
                        <h3 class="fs-1 fw-bold">Nous offrons des services de santé d’exception, à chaque étape de votre
                            parcours.</h3>
                    </div>
                    <div class="row my-5">
                        <p class="fs-5 ">
                            Bienvenue chez Ivory<span class="fw-bold text-success">Medic</span>, un centre médical privé
                            avec des établissements aux Bahamas et à Londres.
                            Notre mission est de fournir des services de santé de haute qualité et accessibles à nos
                            patients.
                        </p>
                    </div>
                    <div class="row">
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Horaires
                            d'ouverture étendus</p>
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Équipe
                            de soutien dédiée</p>
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Accès
                            rapide et rendez-vous le jour même</p>
                        <p class="fw-bold"><span><i
                                    class="fa fa-arrow-right me-2 rounded-circle bg-info p-2 text-light"></i></span>Accès
                            au soutien en santé mentale</p>
                    </div>
                    <div class="row">
                        <p>Retrouvez tous les plus grands hôpitaux publics et privés de la Cote d'ivoire, le Medigo
                            International Hospital prend soin de plus de 1,1 million de patients.</p>
                    </div>
                </div>
                <div class="col-lg-5 rounded-2 mx-1">
                    <div class="card shadow"
                        style="background-image: url(/images/autres/patient_4.webp);background-position: center;background-repeat: no-repeat;background-size: cover;object-fit: cover;height: 100%;width: 100%;border-top-left-radius: 80px;border-bottom-right-radius: 80px;">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Voir Quelque spécialiste -->
    <div class="specialiste">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <div class="card contact-parent">
                        <img src="/images/autres/doc_5.png" class="img-fluid fixed"
                            style="height: 300px;object-fit:cover;" alt="doc-1">
                        <div class="contact py-2">
                            <i class="fab fa-linkedin fs-3 mx-2"></i>
                            <i class="fab fa-whatsapp fs-3 mx-2"></i>
                            <i class="fab fa-facebook fs-3 mx-2"></i>
                            <i class="fab fa-instagram fs-3 mx-2"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Chirstopher Mark N'Guessan</h5>
                            <p class="text-center">Dentiste</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card contact-parent">
                        <img src="/images/autres/doc_2.avif" class="img-fluid fixed"
                            style="height: 300px;object-fit:cover;" alt="doc-1">
                        <div class="contact py-2">
                            <i class="fab fa-linkedin fs-3 mx-2"></i>
                            <i class="fab fa-whatsapp fs-3 mx-2"></i>
                            <i class="fab fa-facebook fs-3 mx-2"></i>
                            <i class="fab fa-instagram fs-3 mx-2"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Chirstopher Mark N'Guessan</h5>
                            <p class="text-center">Dentiste</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card contact-parent">
                        <img src="/images/autres/doc_3.avif" class="img-fluid fixed"
                            style="height: 300px;object-fit:cover;" alt="doc-1">
                        <div class="contact py-2">
                            <i class="fab fa-linkedin fs-3 mx-2"></i>
                            <i class="fab fa-whatsapp fs-3 mx-2"></i>
                            <i class="fab fa-facebook fs-3 mx-2"></i>
                            <i class="fab fa-instagram fs-3 mx-2"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Chirstopher Mark N'Guessan</h5>
                            <p class="text-center">Dentiste</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card contact-parent">
                        <img src="/images/autres/doc_4.webp" class="img-fluid fixed"
                            style="height: 300px;object-fit:cover;" alt="doc-1">
                        <div class="contact py-2">
                            <i class="fab fa-linkedin fs-3 mx-2"></i>
                            <i class="fab fa-whatsapp fs-3 mx-2"></i>
                            <i class="fab fa-facebook fs-3 mx-2"></i>
                            <i class="fab fa-instagram fs-3 mx-2"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Chirstopher Mark N'Guessan</h5>
                            <p class="text-center">Dentiste</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section témoiganges -->
    <section class="temoignages my-5">
        <div class="container">
            <div class="row">
                <h2 class="text-center fw-bold fs-2">Témoiganges</h2>
            </div>
            <div class="row ">
                <div class="col-lg-4">
                    <div class="card my-2 shadow arrondie">
                        <div class="card-body fond-gris">
                            <h5 class="card-title">Témoiganges</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img src="/images/autres/temoin1.webp" class="card-img-bottom img-fluid text-center mx-auto"
                            style="height: 70px;width: 70px;border-radius: 100%;" alt="...">
                        <div class="card-body">
                            <h5 class="text-center fw-bold">ALice Georgette</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card my-2 shadow arrondie">
                        <div class="card-body fond-gris">
                            <h5 class="card-title">Témoiganges</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img src="/images/autres/temoin3.jpeg" class="card-img-bottom img-fluid text-center mx-auto"
                            style="height: 70px;width: 70px;border-radius: 100%;" alt="...">
                        <div class="card-body">
                            <h5 class="text-center fw-bold">ALice Georgette</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card my-2 shadow arrondie">
                        <div class="card-body fond-gris">
                            <h5 class="card-title">Témoiganges</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <img src="/images/autres/temoin2.jpg" class="card-img-bottom img-fluid text-center mx-auto"
                            style="height: 70px;width: 70px;border-radius: 100%;" alt="...">
                        <div class="card-body">
                            <h5 class="text-center fw-bold">ALice Georgette</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section footer -->
    <section class="footer bg-success py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mx-auto text-center ">
                    <a class="navbar-brand fw-bold" href="/">Ivory<span class="text-success">Medic</span></a>
                    <p class="text-center text-dark mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        nulla, illum nisi eveniet eos sed enim dolor, consequatur odio, dolore molestiae maiores dolores
                        excepturi nostrum! Consequatur modi placeat vero suscipit.</p>
                </div>
                <div class="col-lg-3 text-start">
                    <h4 class=" fw-bold ms-5">Liens rapides</h4>
                    <ul class="text-start">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hopital">hopitaux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inscription">s'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/connexion">se connecter</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 text-start">
                    <h4 class="text-start fw-bold mb-3">Réseaux sociaux</h4>
                    <p class="text-light"><i class="fab fa-linkedin fs-4 me-2"></i> linkedin</p>
                    <p class="text-light"><i class="fab fa-whatsapp fs-4 me-2"></i> whatsapp</p>
                    <p class="text-light"><i class="fab fa-facebook fs-4 me-2"></i>facebook</p>
                    <p class="text-light"><i class="fab fa-instagram fs-4 me-2"></i>instagram</p>
                    <p class="text-light"><i class="fab fa-telegram fs-4 me-2"></i>telegram</p>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>
    <script src="/js/bootstrap.bundle.js"></script>
    </body>

    </html>